.call-to-action {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  h2 {
    -webkit-text-fill-color: white;
  }
}

.call-to-action::after{
  content: "";
  background-color: $gray-800;
  @include background-cover;
  filter: brightness(30%);
  opacity: 0.99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
