.call-to-action {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  h2 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
  }
}

.call-to-action::after{
  content: "";
  background-color: $gray-800;
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  @include background-cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
