header.masthead.gmu::after {
  background: url('../img/gmu.jpg') no-repeat center center;
}

section.pricing.gmu {
  background: #006633;
}

i.gmu {
  color: #006633;
}

a.gmu {
  color: #FFFFFF;
  background-color: #006633;
  border-color: #006633;
}

button.gmu {
  color: #FFFFFF;
  background-color: #006633;
  border-color: #006633;
}

button.gmu:hover,
button.gmu:focus,
button.gmu:active,
button.gmu.active {
  color: #FFFFFF;
  background-color: #117744;
  border-color: #005522;
}

a.gmu:hover,
a.gmu:focus,
a.gmu:active,
a.gmu.active {
  color: #FFFFFF;
  background-color: #117744;
  border-color: #005522;
}

.call-to-action.gmu::after{
  background: url('../img/gmu.jpg') no-repeat center center;
}