header.masthead.gu::after {
  background: url('../img/gu.jpg') no-repeat center center;
}

section.pricing.gu {
  background: #041E42;
}

i.gu {
  color: #041E42;
}

a.gu {
  color: #FFFFFF;
  background-color: #63666A;
  border-color: #63666A;
}

button.gu {
  color: #FFFFFF;
  background-color: #041E42;
  border-color: #041E42;
}

button.gu:hover,
button.gu:focus,
button.gu:active,
button.gu.active {
  color: #FFFFFF;
  background-color: #041E42;
  border-color: #041E42;
}

a.gu:hover,
a.gu:focus,
a.gu:active,
a.gu.active {
  color: #FFFFFF;
  background-color: #041E42;
  border-color: #041E42;
}

.call-to-action.gu::after{
  background: url('../img/gu.jpg') no-repeat center center;
}