header.masthead.gwu::after {
  background: url('../img/gwu.jpg') no-repeat center center;
}

section.pricing.gwu {
  background: #033C5A;
}

i.gwu {
  color: #033C5A;
}

a.gwu {
  color: #FFFFFF;
  background-color: #AA9868;
  border-color: #AA9868;
}

button.gwu {
  color: #FFFFFF;
  background-color: #AA9868;
  border-color: #AA9868;
}

button.gwu:hover,
button.gwu:focus,
button.gwu:active,
button.gwu.active {
  color: #FFFFFF;
  background-color: #033C5A;
  border-color: #033C5A;
}

a.gwu:hover,
a.gwu:focus,
a.gwu:active,
a.gwu.active {
  color: #FFFFFF;
  background-color: #033C5A;
  border-color: #033C5A;
}

.call-to-action.gwu::after{
  background: url('../img/gwu.jpg') no-repeat center center;
}