header.masthead.jmu::after {
  background: url('../img/gmu.jpg') no-repeat center center;
}

section.pricing.jmu {
  background: #450084;
}

i.jmu {
  color: #450084;
}

a.jmu {
  color: #000000;
  background-color: #dfd2aa;
  border-color: #dfd2aa;
}

button.jmu {
  color: #FFFFFF;
  background-color: #450084;
  border-color: #450084;
}

button.jmu:hover,
button.jmu:focus,
button.jmu:active,
button.jmu.active {
  color: #FFFFFF;
  background-color: #450084;
  border-color: #450084;
}

a.jmu:hover,
a.jmu:focus,
a.jmu:active,
a.jmu.active {
  color: #FFFFFF;
  background-color: #450084;
  border-color: #450084;
}

.call-to-action.jmu::after{
  background: url('../img/gmu.jpg') no-repeat center center;
}