header.masthead.su::after {
  background: url('../img/su.jpg') no-repeat center center;
}

section.pricing.su {
  background: #073264;
}

i.su {
  color: #073264;
}

a.su {
  color: #FFFFFF;
  background-color: #98012e;
  border-color: #98012e;
}

button.su {
  color: #FFFFFF;
  background-color: #98012e;
  border-color: #98012e;
}

button.su:hover,
button.su:focus,
button.su:active,
button.su.active {
  color: #FFFFFF;
  background-color: #a9123f;
  border-color: #87001d;
}

a.su:hover,
a.su:focus,
a.su:active,
a.su.active {
  color: #FFFFFF;
  background-color: #a9123f;
  border-color: #87001d;
}

.call-to-action.su::after{
  background: url('../img/su.jpg') no-repeat center center;
}