header.masthead.umd::after {
  background: url('../img/umd.jpg') no-repeat center center;
}

section.pricing.umd {
  background: #E03A3E;
}

i.umd {
  color: #E03A3E;
}

a.umd {
  color: #000000;
  background-color: #FFD520;
  border-color: #FFD520;
}

button.umd {
  color: #000000;
  background-color: #FFD520;
  border-color: #FFD520;
}

button.umd:hover,
button.umd:focus,
button.umd:active,
button.umd.active {
  color: #000000;
  background-color: #EEC410;
  border-color: #DDB300;
}

a.umd:hover,
a.umd:focus,
a.umd:active,
a.umd.active {
  color: #000000;
  background-color: #EEC410;
  border-color: #DDB300;
}

.call-to-action.umd::after{
  background: url('../img/umd.jpg') no-repeat center center;
}