header.masthead.umw::after {
  background: url('../img/umw.jpg') no-repeat center center;
}

section.pricing.umw {
  background: #002b5a;
}

i.umw {
  color: #002b5a;
}

a.umw {
  color: #FFFFFF;
  background-color: #002b5a;
  border-color: #002b5a;
}

button.umw {
  color: #FFFFFF;
  background-color: #002b5a;
  border-color: #002b5a;
}

button.umw:hover,
button.umw:focus,
button.umw:active,
button.umw.active {
  color: #FFFFFF;
  background-color: #4d6b8b;
  border-color: #2b4f75;
}

a.umw:hover,
a.umw:focus,
a.umw:active,
a.umw.active {
  color: #FFFFFF;
  background-color: #4d6b8b;
  border-color: #2b4f75;
}

.call-to-action.umw::after{
  background: url('../img/umw.jpg') no-repeat center center;
}