header.masthead.uva::after {
  background: url('../img/uva.jpg') no-repeat center center;
}

section.pricing.uva {
  background: #141E3C;
}

i.uva {
  color: #141E3C;
}

a.uva {
  color: #FFFFFF;
  background-color: #E57200;
  border-color: #E57200;
}

button.uva {
  color: #FFFFFF;
  background-color: #E57200;
  border-color: #E57200;
}

button.uva:hover,
button.uva:focus,
button.uva:active,
button.uva.active {
  color: #FFFFFF;
  background-color: #141E3C;
  border-color: #141E3C;
}

a.uva:hover,
a.uva:focus,
a.uva:active,
a.uva.active {
  color: #FFFFFF;
  background-color: #141E3C;
  border-color: #141E3C;
}

.call-to-action.uva::after{
  background: url('../img/uva.jpg') no-repeat center center;
}